<div class="container">
  <form [formGroup]="form" autocomplete="off">
    <label for="instrument">Instrument</label>
    <select id="instrument" formControlName="instrument">
      <option></option>
      <option value="export lc">Export LC</option>
      <option value="guarantee">Guarantee</option>
    </select>

    <label for="applicant">Applicant
    </label>
    <input type="text" id="applicant" formControlName="applicant">

    <label for="issueDate">Issue Date
    </label>
    <input type="date" id="issueDate" formControlName="issueDate">

    <label for="notes">Notes
    </label>
    <textarea rows="5" id="notes" formControlName="notes"></textarea>
    <div style="margin-top: 30px;">
      <label for="issueDate">Date Format
      </label>
      <input type="text" [(ngModel)]="dateFormat" [ngModelOptions]="{standalone: true}">
      <button (click)="unwrapSelectedText()">Remove highlights</button>
    </div>
  </form>

  <div class="copy-highlight">
    <pre #messageEl (click)="clickText($event)" (textSelect)="renderRectangles($event)">
      {{ message }}
    </pre>
    <div *ngIf="hostRectangle" class="tooltip" [style.left.px]="hostRectangle.left"
      [style.top.px]="hostRectangle.top + hostRectangle.height" [style.width.px]="hostRectangle.width"
      [style.height.px]="0">
      <div class="wrapper">
        <ul class="content">
          <li *ngFor="let field of fields">
            <a (mousedown)="$event.preventDefault()"
              (mouseup)="$event.stopPropagation(); copySelection(field)">{{ field }}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>
